.metalic{
    height: 50px;
    width: 90px;
}
.background-cover{
    background-image: url(https://wallpapercave.com/wp/wp3631258.jpg);
    height: 90vh;
    background-size: cover;
}
.cover-head{
    color: white;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cover-para{
    color: white;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cover-button{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    color: white;
    background-color: red;
    border-width: 2px;
    border-color: red;
    
}
.cover-button2{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    color: red;
    background-color: transparent;
    border-width: 0px;
    border-color:red;
    border-width: 2px;
    margin-left: 10px;
}
.me-background{
    background-color:black;
    background-size: cover;
    padding: 10px;
}
.me-head{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.me-firstbag{
    background-color:transparent;
    background-size: cover;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.me-birds{
    height: 200px;
    width: 180px;
    border-radius: 10px;
}
.me-birdshead{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    color: white;
}
.me-para{
    font-size: small;
    color: white;
}
.me-listen{
    color:red;
}
.la-background{
    background-color: black;
    background-size: cover;
    padding: 20px;
}
.la-headone{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding: 10px;
}
.la-image{
    border-radius: 10px;
    text-align: center;
    
}
.la-para{
    color: white;
}
.la-button{
    padding: 10px;
    border-radius: 5px;
    border-color: red;
    color: red;
    background-color: transparent;
    border-width: 2px;
}
.la-text{
    text-align: center;
    margin-right: ;
}
.la-background{
    background-color:white;
    background-size: cover;
    padding: 20px;
}
.la-headone{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding: 10px;
}
.la-image{
    border-radius: 10px;
    text-align: center;
    
}
.la-para{
    color: black;
}
.la-button{
    padding: 10px;
    color: red;
    background-color: transparent;
    border-radius: 5px;
    border-width: 2px;
    border-color: red;
}
.la-text{
    text-align: center;
    margin-right: ;
}
.thanking-customers-section {
    background-color: black;
  }
  .thanking-customers-section-heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 28px;
    color: white;
  }
  .thanking-customers-section-description {
    color:white;
    font-family: "Roboto";
    font-size: 16px;
  }
  .thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
  }
  .custom-button {
    width: 130px;
    height: 45px;
    color: black;
    background-color:white;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;